* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  font-family: tahoma,Arial;
}
.quiz-app {
  margin: 20px auto;
  width: 800px;
  background-color: #f8f8f8f8;
  padding: 15px ;
}

.quiz-info {
  display: flex;
  background-color: #fff;
  padding: 20px;
  justify-content: space-between  ;
}

.quiz-app .quiz-area {
  padding: 20px;
  background-color:#fff ;
  margin-top: 15px;
}
.quiz-app .answar-area {
  background-color:#fff ;
  padding: 20px;
}
.quiz-app .answar {
  background-color: #f9f9f9f9;
  padding: 15px;
  margin: 5px 0;
}

.quiz-app .answar-area .answar:not(:last-child) {
  border-bottom: 1px solid #dfdfdf;
}
.quiz-app .answar-area .answar input[type="radio"]:checked +   label {
  color: #0075ff;
}
.answar label {
  cursor: pointer;
  font-weight: bold;
  color: #777;
  font-size: 14px;
  margin: 0 0 0 5px;
  position: relative;
  top: -1px;
}

.quiz-app .submit{
  background-color: #0075ff;
  color: #fff;
  display: block;
  width: 100%;
  padding: 10px 15px;
  border: none;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  border-radius: 6px;
}
.submit:focus {
  outline: none;
}

.quiz-app .bullets {
  border-top: 1px solid #dfdfdf;
  background-color: #fff;
  display: flex;
  padding: 20px;
}

.quiz-app .bullets .spans {
  flex: 1;
  display: flex;
}

.spans span {
  width: 20px;
  height: 20px;
  background-color: #ddd  ;
  margin-right: 5px;
  border-radius: 50%;
}
.spans span.on {
background-color: #0075ff;
}

.quiz-app .results span {
  font-weight: bold;
}
.quiz-app .results span.bad {
  color: #dc0a0a;
}
.quiz-app .results span.good {
  color: #009688;
}
.quiz-app .results span.perfect {
  color: #0075ff;
}